@model Data.Models.ClientModel
@{
    ViewBag.Title = "Password Reset";
}
<div class="page">
    <h2>Password Reset</h2>
    @Html.Partial("_SubMenuPartial")
    <div class="section password-reset">
        <div class="content">
            <strong>Client:</strong> @Html.DropDownListFor(m => m.UserName, Model.GetClientSelectItems(), new { @class = "client-select" })
            @if (!string.IsNullOrEmpty(Model.UserName))
            {
                <div class="confirmation" style="padding: 5px; border: solid 1px #808080; background-color: #FFFFC4; margin-top: 10px; font-weight: bold; width: 500px;">
                    Are you sure you want to reset this user's password to @Html.Raw(Model.UserName)?
                    <div style="margin-top: 5px;" class="confirmation-controls">
                        <input type="button" value="OK" class="confirm-ok-button" />
                        <input type="button" value="Cancel" class="confirm-cancel-button" />
                    </div>
                </div>
                <div class="ok-message" style="display: none; padding: 5px; border: solid 1px #808080; background-color: #C4C4FF; margin-top: 10px; font-weight: bold; width: 500px;">
                    The password has been reset.
                    <ul style="margin: 0;">
                        <li style="padding-top: 10px;"><a href="@Model.SubMenu.URL("password-reset")">Reset another password.</a></li>
                        <li style="padding-top: 10px;"><a href="@Model.SubMenu.URL("client")">Return to main Clients page.</a></li>
                    </ul>
                </div>
                <div class="error-message" style="display: none; padding: 5px; border: solid 1px #808080; background-color: #FFFFC4; margin-top: 10px; font-weight: bold; width: 500px; color: #FF0000;">
                    An error occurred:
                    <div class="error-message-text">
                    </div>
                </div>
            }
            else
            {
                <div style="margin-top: 10px;">
                    <input type="button" value="Reset Password" class="reset-button" />
                    <input type="button" value="Cancel" class="cancel-button" />
                </div>
            }
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.password-reset').each(function () {
                        var $this = $(this);

                        var username = '@Model.UserName';
                        if (username != '') {
                            $('.client-select', $this).attr('disabled', 'disabled');
                        }

                        $this.on('click', '.cancel-button', function (event) {
                            window.location = '@Html.Raw(string.IsNullOrEmpty(Model.App) ? Model.SubMenu.URL("client") : Model.SubMenu.URL("home"))';
                        }).on('click', '.reset-button', function (event) {
                            var un = $('.client-select', $this).val();
                            window.location = '@Url.Content("~/client/password-reset/")' + un + '@Html.Raw(string.IsNullOrEmpty(Model.App) ? "" : "?app=" + Model.App)';
                        }).on('click', '.confirm-cancel-button', function (event) {
                            window.location = '@Model.SubMenu.URL("password-reset")';
                        }).on('click', '.confirm-ok-button', function (event) {
                            var controlsHtml = $('.confirmation-controls', $this).html();
                            $('.confirmation-controls', $this).html('<span class="nodata" style="font-weight: normal;">Working...</span>');
                            $.ajax({
                                'url': '@Url.Content("~/client/ajax")',
                                'type': 'POST',
                                'dataType': 'json',
                                'data': { 'Command': 'reset-pw', 'UserName': username },
                                'success': function (data, textStatus, jqXHR) {
                                    if (data.Success) {
                                        $('.confirmation', $this).hide();
                                        $('.ok-message', $this).show();
                                    }
                                    else {
                                        $('.error-message-text', $this).html(data.Message);
                                        $('.confirmation', $this).hide();
                                        $('.error-message', $this).show();
                                    }
                                },
                                'error': function (jqXHR, textStatus, errorThrown) {
                                    $('.error-message-text', $this).html(errorThrown);
                                    $('.confirmation', $this).hide();
                                    $('.error-message', $this).show();
                                    $('.confirmation-controls', $this).html(controlsHtml);
                                }
                            });
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>