@using LNF.Web.Mvc;
@using LNF.Data;

@model BaseModel
<div class="nav">
    @Html.PageMenuLink("Home", "Index", "Home")
    @Html.PageMenuLink("Client", "Index", "Client", ClientPrivilege.Developer | ClientPrivilege.Administrator)
    @Html.PageMenuLink("Account", "Index", "Account", ClientPrivilege.Developer | ClientPrivilege.Administrator)
    @Html.PageMenuLink("Feed", "List", "Feed", ClientPrivilege.Developer)
    @Html.PageMenuLink("News", "List", "News", ClientPrivilege.Developer | ClientPrivilege.Administrator | ClientPrivilege.Staff)
    @Html.PageMenuLink("Utility", "Index", "Utility", ClientPrivilege.Developer | ClientPrivilege.Administrator)
    @Html.PageMenuLink("Services", "Index", "Service", ClientPrivilege.Developer | ClientPrivilege.Administrator)
</div>
