@using LNF.Web.Mvc;
@using Data.Models.Admin;
@model ClientModel
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<div class="panel panel-default password-reset">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.ActionLink("Admin", "Index") / Password Reset</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-5">
                    @Html.DropDownListFor(m => m.UserName, Model.GetClientSelectItems(), new { @class = "client-select form-control" })
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-5">
                    @if (string.IsNullOrEmpty(Model.UserName))
                    {
                        <a href="#" class="btn btn-default reset-button">Reset Password</a>
                        <a href="@Url.Action("Index")" class="btn btn-default cancel-button">Cancel</a>
                    }
                    else
                    {
                        <div class="alert alert-warning confirmation" role="alert">
                            <strong>Are you sure you want to reset this user's password to @Model.UserName?</strong>
                            <div class="confirmation-controls" style="margin-top: 10px;">
                                <a href="#" class="btn btn-default confirm-ok-button">OK</a>
                                <a href="@Url.Action("PasswordReset", new { UserName = "" })" class="btn btn-default confirm-cancel-button">Cancel</a>
                            </div>
                        </div>
                        <div class="alert alert-danger error" role="alert" style="display: none;"></div>
                        <div class="alert alert-success message" role="alert" style="display: none;">
                            <strong>The password has been reset.</strong>
                            <ul style="margin: 0;">
                                <li style="padding-top: 10px;"><a href="@Url.Action("PasswordReset", new { UserName = "" })">Reset another password</a></li>
                                <li style="padding-top: 10px;"><a href="@Url.Action("Index")">Return to main page.</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 20px;">
    <a href="@Url.Action("Return", "Home")" class="btn btn-primary btn-lg">&larr; Back to Main Page</a>
</div>

@section scripts{
    <script>
        function getErrorMessage(err) {
            var html = $.parseHTML(err.responseText);

            var title = html.find(function (n) {
                if (n.tagName == 'TITLE')
                    return n;
            });

            if (title && title.innerHTML)
                return title.innerHTML;
            else
                return err.statusText;
        }

        $(".password-reset").each(function () {
            var $this = $(this);

            var username = '@Model.UserName';

            if (username)
                $(".client-select", $this).prop("disabled", true);

            $this.on("click", ".reset-button", function (e) {
                e.preventDefault();
                var un = $(".client-select", $this).val();
                window.location = '@Url.Action("PasswordReset", new { UserName = "" })/' + un;
            }).on("click", ".confirm-ok-button", function (e) {
                e.preventDefault();
                var controlsHtml = $(".confirmation", $this).html();
                var un = $(".client-select", $this).val();
                $(".confirmation-controls", $this).html($("em").html("Working..."));
                $.ajax({ "url": '@Url.Action("Ajax")', "type": "POST", "data": { "Command": "password-reset", "UserName": un } }).done(function (data) {
                    $(".confirmation", $this).hide();
                    $(".message", $this).show();
                    $(".error", $this).hide();
                }).fail(function (err) {
                    $(".confirmation", $this).hide();
                    $(".message", $this).hide();
                    $(".error", $this).html(getErrorMessage(err)).show();
                });
            });
        });
    </script>
}
