@using LNF.Web.Mvc;
@using Data.Models;
@model ServiceModel
@{
    ViewBag.Title = "Scheduler Service";
}

<div class="page">
    <h2>Scheduler Service</h2>
    @Html.CreateSubMenu(Model.GetSubMenu())
    <div class="section services">
        <div class="content">
            <strong>Log</strong>
            <hr />
            @using (Html.BeginForm("Scheduler", "Service", FormMethod.Post))
            {
                <div class="criteria">
                    <table class="criteria-table">
                        <tr>
                            <td>Start Date</td>
                            <td>@Html.TextBoxFor(x => x.LogStartDate, "{0:MM/dd/yyyy}", new { @class = "date-picker", @style = "width: 80px;" })</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>@Html.TextBoxFor(x => x.LogEndDate, "{0:MM/dd/yyyy}", new { @class = "date-picker", @style = "width: 80px;" })</td>
                        </tr>
                    </table>
                    <div class="criteria-item">
                        <input type="submit" value="Refresh" />
                    </div>
                </div>
            }
            <div class="loading" style="color: #808080; font-style: italic; margin-top: 10px;">
                Loading...
            </div>
            <div class="table-container" style="display: none; margin-top: 10px; padding: 0; width: 1200px; border: none;">
                <table class="log-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>Level</th>
                            <th>Subject</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GetLogEntries("scheduler"))
                        {
                            <tr>
                                <td>@item.LogDateTime</td>
                                <td>@item.LogLevel</td>
                                <td>@item.LogSubject</td>
                                <td>@item.LogMessage</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="clear: both;"></div>
            </div>
            @using (Html.BeginForm("PurgeLog", "Service", FormMethod.Post))
            {
                <div style="margin-top: 10px;">
                    Delete all log records before @Html.TextBoxFor(x => x.PurgeLogDate, "{0:MM/dd/yyyy}", new { @class = "date-picker", @style = "width: 80px;" })
                    <input type="submit" value="Purge" />
                </div>
            }
        </div>
    </div>
</div>
